.legal {
  padding-top: 60px;
  padding-bottom: 60px;

  @include laptopSize {
    padding-left: 120px;
    padding-right: 120px;
  }

  &-wrapper {
    display: flex;

    @include mobile {
      flex-direction: column;
    }
    
    @include tablet {
      flex-direction: column;
    }

    @include tabletHd {
      flex-direction: inherit;
      justify-content: center;
    }
  }

  &-left-box {
    @include mobile {
      margin-bottom: 30px;
    }

    @include tablet {
      margin-bottom: 30px;
    }

    @include tabletHd {
      margin-bottom: 0;
      margin-right: 30px;
    }

    .legal-title {
      @include text-gradient-back();
      font-size: 38px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-bottom: 28px;

      @include tablet {
        max-width: 648px;
      }

      @include tabletHd {
        max-width: 486px;
      }

      @include laptopSize {
        max-width: 662px;
      }
    }

    .legal-inf {
      color: var(--basic-black);
      font-family: Montserrat;
      font-size: 19px;
      font-style: normal;
      font-weight: 400;
      line-height: 30px; /* 157.895% */

      @include tablet {
        max-width: 648px;
      }

      @include tabletHd {
        max-width: 486px;
      }

      @include laptopSize {
        max-width: 662px;
      }

      .inf-first {
        margin-bottom: 28px;
      }

      .inf-second {

      }
    }
  }

  &-right-box {
    display: flex;

    .vr {
      display: inline;
      width: 4px;

      margin-right: 30px;
      border-right: 4px solid var(--grey---separator);

      @include mobile {
        height: 302px;
      }

      @include mobileXsDown {
        height: 322px;
      }

      @include tablet {
        height: 302px;
      }

      @include tabletHd {
        height: 322px;
      }
    }

    .legal-wrapper-right {
      display: flex;
      flex-direction: column;
      row-gap: 40px;

      .legal-item {
        &-box {
          display: flex;
          column-gap: 8px;
          align-items: center;

          .legal-number {
            @include text-gradient-back();
            text-align: center;
            font-size: 36px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
          }
        }

        &-desr {
          color: var(--main---regular);
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          margin-top: 10px;

          @include tabletHd { 
          max-width: 354px;
          }
        }
      }
    }
  }
}
