.quality {
    padding-top: 60px;
    padding-bottom: 60px;

    @include mobile {
        padding-top: 30px;
    }

  .quality-wrapper {
    display: flex;

    @include mobile {
      flex-direction: column;
      row-gap: 30px;
    }

    @include tablet {
      flex-direction: column;
      row-gap: 30px;
    }

    @include tabletHd {
      flex-direction: inherit;
      row-gap: 0;
      column-gap: 60px;
    }

    .quality-left-box {
      display: flex;
      flex-direction: column;
      row-gap: 28px;

      @include tabletHd {
        max-width: 482px;
      }

      @include laptopSize {
        max-width: 658px;
      }

      @include laptopHdSize {
        max-width: 938px;
      }

      .quality-text {
        color: var(--basic-black);
        font-size: 19px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px; /* 157.895% */
      }
    }

    .quality-right-box {
      .quality-title {
        @include text-gradient-back();
        font-size: 38px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;

        @include tabletHd {
            max-width: 362px;
        }
      }
    }
  }
}
