.header-about {
    .container {
      @include mobile {
        padding-left: 0;
        padding-right: 0;
      }
    }
  
    @include tablet {
      padding-top: 50px;
    }
  
    @include tablet {
      .header-about-box {
        display: block;
    
        .menu-top {
          margin-bottom: 30px;
        }
    
        .logo-about {
          margin-bottom: 30px;
        }
      }
    }
  
    .grid-about-box {
      @include mobile {
        display: grid;
    
        grid-template-areas:
          "menu-top  menu-top"
          "logo-about  nav";
    
        .logo-about {
          grid-area: logo-about;
          margin-top: 15px;
          margin-left: 15px;
        }
    
        .menu-top {
          grid-area: menu-top;
        }
    
        .nav {
          grid-area: nav;
          justify-self: end;
          margin-top: 12.5px;
          margin-right: 15px;
        }
      }
    
      @include tabletLg {
        display: grid;
    
        grid-template-rows: 25px 41px;
        
        grid-template-areas:
          "logo-about menu-top"
          "logo-about nav";
    
        .logo-about {
          grid-area: logo-about;
          margin: 0;
        }
    
        .menu-top {
          grid-area: menu-top;
          justify-self: end;
          margin: 0;
        }
    
        .nav {
          grid-area: nav;
          justify-self: end;
          align-self: end;
          margin: 3px;
        }
      }
    }
  }